#aboutPicCont {
    border: 2px solid #0000FF;
    width: 29em;
    margin-top: 3em;
    margin-left: 3em;
    float: left;
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

#aboutPicCont img {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#aboutWriteUp {
    color: #FFFFFF;
    font-size: 1.2em;
    border: 2px solid #00FF00;
    width: 40em;
    float: right;
    margin-top: 5em;
    margin-right: 1em;
    text-align: center;
    animation-name: slideInBottom;
    animation-duration: 1.3s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
}

#videoControl {
    border: 2px solid #00FFFF;
    height: 2.5em;
    width: 8.5em;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 32.5em;
    animation-name: slideInBottom;
    animation-delay: 2.6s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

#videoControl p {
    display: inline-block;
}

#videoControl a {
    font-size: 1.2em;
    color: #FFFFFF;
    transition: color: 0.5s;
    text-decoration: none;
}

#videoControl a:hover {
    color: #FF0000;
}
