#aboutPicCont {
    border: 2px solid #0000FF;
    width: 29em;
    margin-top: 3em;
    margin-left: 3em;
    float: left;
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

#aboutPicCont img {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#aboutWriteUp {
    color: #FFFFFF;
    font-size: 1.2em;
    border: 2px solid #00FF00;
    width: 40em;
    float: right;
    margin-top: 5em;
    margin-right: 1em;
    text-align: center;
    animation-name: slideInBottom;
    animation-duration: 1.3s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
}

#videoControl {
    margin-top: 2.5em;
    animation-delay: 1.6s;
}
