/* desktop site */
@media screen and (max-width:1366px) {
    #contactFormCont {
        width: 83.5em;
	height: 30em;
    }

    form {
        margin-top: 1em;
	margin-left: 30em;
    }

    form label {
        margin-bottom: 0.4em;
    }

    #formName {
        margin-left: 4.8em;
    }

    #formEmail {
        width: 20em;
	margin-left: 1.5em
    }

    #formMessage {
        margin-left: -1em;
    }

    #nameLabel, #emailLabel {
        margin-left: 3.6em;
    }

    #messageLabel {
        margin-left: 4.3em;
    }
}

/* mobile site (tested on iPhone 10 screen) */
@media screen and (max-width:768px) {
    #contactFormCont {
        width: 22.5em;
        height: 90em;
    }

    form {
        margin-top: 0em;
	margin-left: 0em;
    }

    form label {
	margin-top: 1em;
        margin-bottom: 0.7em;
    }

    #formName {
        margin-left: 10.5em;
    }

    #formEmail {
        margin-left: 6em;
    }

    #formMessage {
        margin-left: 2em;
    }

    input[type=submit],input[type=reset] {
        margin-top: 1em;
    }
}


#contactFormCont {
    /*border: 2px solid #00FFFF;*/
}

form {
    /*border: 2px solid #0000FF;*/
}

#formEmail {
    /*border: 2px solid #00FFFF;*/
}

#messageLabel {
    /*border: 2px solid #00FFFF;*/
}

form label {
    color: #FFFFFF;
    font-size: 2em;
    display: inline-block; 
}

input[type=submit],input[type=reset] {
    margin-left: 2.5em;
    height: 2em;
    width: 8em;
    font-size: 1em;
}

form input {
    font-size: 1.05em;
}

form textarea {
    font-size: 1.3em;
}

textarea {
    resize: none;
}

#nameLabel,#emailLabel {
    /*border: 2px solid #00FFFF;*/
}


