#leftCont {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #FFFFFF;
    width: 27.3em;
    height: 31em;
}

/* desktop site */
@media screen and (max-width:1366px) {
    #profilePicCont {
        width: 28em;
	height: 21em;
    }

    #profilePicCont h1 {
        margin-left: 2.3em;
    }

    #profilePic {
	margin-left: 6em;
    }

    #profilePicCont img {
        height: 260px;
	width: 267px;
    }

    #disc {
        width: 30em;
    }

    #disc li {
	font-size: 2em;
    }
}

/* mobile site (tested on iPhone 10) */
@media screen and (max-width:768px) {
    #profilePicCont {
        width: 23.5em;
	height: 22em;
    }

    #profilePicCont h1 {
	font-size: 5em;
	margin-left: 1.3em;
    }

    #profilePic {
	margin-left: 2.5em;
    }

    #profilePicCont img {
	height: 280px;
	width: 287px;
    }

    #disc {
        width: 24em;
    }

    #disc li {
	font-size: 1.7em;
        margin-right: 1em;
    }
}

#profilePicCont {
    /*border: 2px solid #AA0000;*/
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

#profilePicCont h1 {
    color: #FFFFFF;
    font-size: 3em;
    margin-top: -0.005em;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    text-shadow: 3px 2px 2px #000000;
}

#profilePic {
    margin-top: -1.5em;
    border-radius: 11em;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

#disc {
    border: 2px solid #0000AA;
    height: 10em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

#disc ul {
    list-style-type: none;
    margin-top: -0.2em;
}

#disc li { 
    padding-bottom: 0.4em;
    color: #FFFFFF;
    text-align: center;
}

#discListOne {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

#discListTwo {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

#discListThree {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

#middleCont {
    float: left;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    width: 27.3em;
    height: 31em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#skills {
    /*border: 2px solid #0000FF;*/
    width: 27em;
    height: 32.5em;
    float: left;
}

.skillFrontOne {
    list-style-image: url('assets/html5Icon.png');
}

.skillFrontTwo {
    list-style-image: url('assets/cssIcon.png');
}

.skillFrontThree {
    list-style-image: url('assets/jsIcon.png');
}

.skillBackOne {
    list-style-image: url('assets/pythonIcon.png');
}

.skillBackTwo {
    list-style-image: url('assets/cPlusPlusIcon.png');
}

.skillBackThree {
    list-style-image: url('assets/javaIcon.png');
}

.skillOtherOne {
    list-style-image: url('assets/databaseIcon.png');
}

.skillOtherTwo {
    list-style-image: url('assets/linuxIcon.png');
}

#skills ul li {
    display: inline-block;
    text-shadow: 3px 2px 2px #000000;
    margin-right: 2em;
    margin-top: -1em;
    font-size: 1.2em;
}

#skillCont ul li {
    display: list-item;
    margin-top: 0em;
    padding-bottom: 2em;
    color: #FFFFFF;
    font-size: 1.2em;
    margin-left: 2em;
}

#skillCont ul li:nth-child(1) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
}

#skillCont ul li:nth-child(2) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.4s;
}

#skillCont ul li:nth-child(3) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.6s;
}

#skills a {
    text-decoration: none;
}

#skills a:hover {
    text-shadow: 0px 0px 10px #45A29E;
    color: #FFFFFF;
}

#skills h2, #projects h2 {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 3px 2px 2px #000000;
    font-size: 2.5em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    margin-top: 0.3em;
}

#skillCont ul li img {
    margin-top: 1em;
}

#rightCont {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 27.3em;
    height: 31em;
}

#projects {
    width: 27em;
    height: 31em;
}

#projectEleCont {
    overflow-y: auto;
    height: 26em;
    width: 28em;
    margin-top: -1em;
}

.projectElement h3 {
    color: #FFFFFF;
    text-shadow: 3px 2px 2px #000000;
    font-size: 1.4em;
    margin-left: 1em;
}

.projectElement p {
    color: #FFFFFF;
    text-align: center;
    width: 24em;
    margin-left: 2em;
}

