#leftCont {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 2px solid #FFFFFF;*/
    height: 31em;
}

/* desktop site */
@media screen and (max-width:1366px) {

    #leftCont {
        width: 27.3em;
    }

    #middleCont {
	width: 27.3em;
    }

    #profilePicCont {
        width: 28em;
	height: 21em;
    }

    #profilePicCont h1 {
        margin-left: 2.3em;
    }

    #profilePic {
	margin-left: 6em;
    }

    #profilePicCont img {
        height: 260px;
	width: 267px;
    }

    #disc {
        width: 30em;
	height: 10em;
    }

    #disc li {
	font-size: 2em;
    }

    #skills h2, #projects h2 {
        text-align: center;
    }

    #skills ul li {
        padding-right: 2em;
    }

    #skillCont ul li {
        margin-left: 2em;
    }
 
     #rightCont {
        width: 27.3em;
    }

    #projectEleCont {
        width: 28em;
    }

    #projectEleCont div {
        margin-left: -0.5em;
    }

    .projectElement p {
        margin-left: 2em;
        width: 24em;
    }
}

/* mobile site (tested on iPhone 10) */
@media screen and (max-width:768px) {

    #leftCont {
	margin-top: 1em;
        width: 24em;
    }

    #middleCont {
        width: 24em;
    }

    #profilePicCont {
        width: 23.5em;
	height: 22em;
    }

    #profilePicCont h1 {
	font-size: 5em;
	margin-left: 1.3em;
    }

    #profilePic {
	margin-left: 3em;
    }

    #profilePicCont img {
	height: 260px;
	width: 267px;
    }

    #disc {
        width: 23.8em;
        height: 8.5em;
    }

    #disc li {
	font-size: 1.7em;
        margin-right: 2.3em;
    }

    #skills h2, #projects h2 {
	text-align: left;
    }

    #skills h2 {
        margin-left: 3.5em;
    }

    #projects h2 {
        margin-left: 2.8em;
    }

    #skills ul li {
        margin-left: -1.5em;
	padding-right: 3.2em;
    } 

    #skillCont ul li {
        margin-left: 2em;
	list-style-position: inside;
    }

    #rightCont {
        width: 24em;
    }

    #projectEleCont {
        width: 24em;
    }

    #projectEleCont div {
        margin-left: -1em;
    }


    .projectElement p {
        margin-left: 0.8em;
        width: 20em;
    }

    #skillCont ul li img {
        width: 375px;
	height: 35px;
    }
}

#profilePicCont {
    /*border: 2px solid #AA0000;*/
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

#profilePicCont h1 {
    color: #FFFFFF;
    font-size: 3em;
    margin-top: -0.005em;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    text-shadow: 3px 2px 2px #000000;
}

#profilePic {
    margin-top: -1.5em;
    border-radius: 11em;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

#disc {
    /*border: 2px solid #0000AA;*/
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

#disc ul {
    list-style-type: none;
    margin-top: -0.2em;
}

#disc li { 
    padding-bottom: 0.4em;
    color: #FFFFFF;
    text-align: center;
}

#discListOne {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

#discListTwo {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

#discListThree {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

#middleCont {
    float: left;
    /*border: 2px solid #FFFFFF;*/
    height: 31em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#skills {
    /*border: 2px solid #0000FF;*/
    width: 27em;
    height: 32.5em;
    float: left;
}

.skillFrontOne {
    list-style-image: url('assets/html5Icon.png');
}

.skillFrontTwo {
    list-style-image: url('assets/cssIcon.png');
}

.skillFrontThree {
    list-style-image: url('assets/jsIcon.png');
}

.skillBackOne {
    list-style-image: url('assets/pythonIcon.png');
}

.skillBackTwo {
    list-style-image: url('assets/cPlusPlusIcon.png');
}

.skillBackThree {
    list-style-image: url('assets/javaIcon.png');
}

.skillOtherOne {
    list-style-image: url('assets/databaseIcon.png');
}

.skillOtherTwo {
    list-style-image: url('assets/linuxIcon.png');
}

#skills ul li {
    display: inline-block;
    text-shadow: 3px 2px 2px #000000;
    margin-top: -1em;
    font-size: 1.2em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
}

#skillCont ul li {
    display: list-item;
    margin-top: 0em;
    padding-bottom: 2em;
    color: #FFFFFF;
    font-size: 1.2em;
}

#skillCont ul li:nth-child(1) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
}

#skillCont ul li:nth-child(2) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.4s;
}

#skillCont ul li:nth-child(3) {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.6s;
}

#skills a {
    text-decoration: none;
}

#skills a:hover {
    text-shadow: 0px 0px 10px #45A29E;
    color: #FFFFFF;
}

#skills h2, #projects h2 {
    color: #FFFFFF;
    text-shadow: 3px 2px 2px #000000;
    font-size: 2.5em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    margin-top: 0.3em;
}

#skillCont ul li img {
    margin-left: -3.5em;
}

#rightCont {
    /*border: 2px solid #0000FF;*/
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 31em;
}

#projects {
    width: 27em;
    height: 31em;
}

#projectEleCont {
    overflow-y: auto;
    height: 26em;
    width: 29.5em;
    margin-top: -1em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

#projectEleCont div {
    border-bottom: 1px solid #FFFFFF;
}

.projectElement h3 {
    color: #FFFFFF;
    text-shadow: 3px 2px 2px #000000;
    font-size: 1.4em;
    margin-left: 1em;
}

.projectElement h3 a {
    color: #FFFFFF;
    text-shadow: 3px 2px 2px #000000;
    text-decoration: none;
    transition: text-shadow 0.3s;
}

.projectElement h3 a:hover {
    text-shadow: 0px 0px 10px #AAAAAA;
}

.projectElement p {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
}

