/*Animations*/

@keyframes shrinkExpand {
    from {
        transform: scale(1);
	border: 2px solid #FFFFFF;
	border-radius: 0em;
    }

    to   {
	transform: scale(0);
	border: 0px solid #FFFFFF;
	border-radius: 15em;
    }

}

@keyframes enlarge {
    from { transform: scale(1); }
    to { transform: scale(2); }
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@keyframes slideInTop {
    from {
        transform: translate(0, -2em);
	opacity: 0;	
    }

    to {
        transform: translate(0, 0);
	opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translate(-3em, 0);
	opacity: 0;
    }

    to {
        transform: translate(0, 0);
	opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
	transform: translate(0, 2em);
	opacity: 0;
    }

    to {
	transform: translate(0, 0);
	opacity: 1;
    }
}

/* End animations */

@font-face {
    font-family: CormorantGaramond;
    src: url(assets/CormorantGaramond-Regular.ttf);
}

.hyperLinks {
    color: #FFFFFF;
    transition: color 0.5s;
}

.hyperLinks:hover {
    color: #FF0000;
}

body {
    background-image: url("assets/testTwo.svg");
    font-family: CormorantGaramond;
    overflow-y: hidden;
}

/* used by the javascript to pause the main container animation
 * so we can load new content */
.pauseAnimation {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.mainContAnim {
    animation-name: shrinkExpand;
    animation-duration: 0.4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    transform-origin: 50% 50%;
}

#mainCont {
    /*border: 2px solid #FFFFFF;*/
    width: 83.5em;
    height: 39em;
}

#navBar {
    height: 4em;
    /8border: 2px dashed #FF0000;*/
}

#navBar div {
    margin-top: 1em;
}

#navBar a {
    font-size: 2em;
    text-decoration: none;
    transition: font-size 0.5s;
    color: #888888;
    float: left;
}

#navBar a:hover {
    font-size: 2.4em;
    color: #FFFFFF;
}

#homeLink {
    margin-left: 5em;
}

#otherLinks {
    margin-left: 57em;
}

#otherLinks a {
    padding-right: 1em;
}

#otherSiteLinks {
    /*border: 2px solid #FF0000;*/
    height: 2.5em;
    width: 3em;
    margin-top: 2.5em;
    margin-right: 2em;
    float: right;
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: backwards;
}

#copyRightInfo {
    color: #FFFFFF;
    font-size: 1em;
    margin-left: 19em;
    margin-top: 2.5em;
    float: left;
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
