/*Animations*/

@keyframes shrinkExpand {
    from {
        transform: scale(1);
	border: 2px solid #FFFFFF;
    }

    to   {
	transform: scale(0);
	border: 0px solid #FFFFFF;
    }

}

body {
    background-color: #2c2c2c;
}

#mainCont {
    border: 2px solid #FFFFFF;
    width: 84em;
    height: 39.5em;
    animation-name: shrinkExpand;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    transform-origin: 50% 50%; 
}

#profilePicCont {
    border: 2px solid #FFFF00;
    width: 35em;
    height: 20em;
}

#profilePic {
    border-radius: 9em;
}
