
/* Color Scheme

	#00000 - Black
	#FFFFF - White
	#11BCFA - Capri
	#717171 - Sonic Silver
	#3C3A40 - Jet
*/

@font-face {
	font-family: SpaceGrotesk;
	src: url('assets/CormorantGaramond-Regular.ttf');
}

:root {
	--base-color-one: #000000;
	--base-color-two: #FFFFFF;

	--theme-color-one: rgb(17, 188, 250);
	--theme-color-one-trans: rgba(17, 188, 250, 0.5);
	--theme-color-two: rgb(113, 113, 133);
	--theme-color-three: rgb(60, 58, 64);
	--theme-color-three-trans: rgba(60, 58, 64, 0.5);
	--theme-color-four: rgba(17, 188, 250, 0.5);


	--light-theme-color-three: rgb(195, 197, 191);
}

* {
	margin: 0;
	padding: 0;
	font-family: SpaceGrotesk;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url('assets/circuit-board-dark.svg');
	background-color: var(--theme-color-three);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.6fr 1fr 0.6fr 1fr 0.05fr;
	padding: 2rem;
	gap: 1.5rem;
}

body > div {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 2px #000;
	border-radius: 5px;
}	

#profilePanel {
	display: grid;
	grid-template-rows: 1fr 6fr 0.5fr;
	color: var(--base-color-two);
	padding-top: 30px;
}

#headlineNameCont {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

#headlineNameCont hr {
	width: 675px;
	animation-name: hrLineGrow;
	animation-duration: 1.5s;
	border-color: var(--theme-color-one);
}

@keyframes hrLineGrow {
	from {
		width: 0px;
	}

	to {
		width: 675px;
	}
}

#headlineCont {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40px;
}

#headlineCont p {
	font-size: 3.2rem;
	opacity: 0;
}

#headlineCont p:nth-child(1) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

#headlineCont p:nth-child(2) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}

#headlineCont p:nth-child(3) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 2.1s;
	animation-fill-mode: forwards;
}

#nameCont {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#nameCont h1 {
	font-size: 8rem;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#navBar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	font-size: 370%;
}

#navBar a {
	text-decoration: none;
	text-align: center;
	color: var(--theme-color-one);
	font-weight: bold;
}

#secondaryLinksCont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

#secondaryLinksCont div {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#aboutPanel {
	display: grid;
	grid-template-rows: 1fr 8fr 0.5fr;
	justify-content: center;
	align-items: center;
	padding: 3rem 3rem 3rem 3rem;
	color: var(--base-color-two);
}

.sectionLabel {
	font-size: 6rem;
	align-self: flex-start;
}

#aboutContent {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

#aboutContent img {
	border: 2px solid var(--base-color-two);
	border-radius: 10px;
}	

#aboutContent p {
	font-size: 2rem;
	text-align: center;
}

#aboutContent a {
	text-decoration: none;
	border: 2px solid var(--base-color-two);
	font-size: 3rem;
	padding: 10px 32px;
	background-color: var(--theme-color-three-trans);
	color: var(--theme-color-four);
	border-radius: 10px;
	transition: 0.3s;
}

#aboutContent a:hover {
	background-color: var(--theme-color-four);
	color: var(--base-color-two);
	box-shadow: 0px 4px 10px var(--base-color-one);
}

.skillContent {
	flex-flow: row wrap;
	justify-content: space-around;
	overflow-y: auto;
	gap: 40px;
	padding: 60px;
}

.skillBox {
	display: grid;
	grid-template-rows: 3fr 1fr;
	justify-items: center;
	align-items: center;
	height: 250px;
	width: 250px;
	font-size: 2.3rem;
	opacity: 0;
	animation-name: fadeUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#skillsPanel {
	padding: 3rem;
	display: grid;
	grid-template-rows: 0.4fr 25px 3fr;
	gap: 30px;
	color: var(--base-color-two);
}

/* skill tabs */
.skillTabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

/* skill tab buttons */
.skillTabs button {
	background-color: var(--theme-color-three-trans);
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 2.4rem;
	border: 2px solid var(--base-color-two);
	border-radius: 10px;
	color: var(--base-color-two);
}

.skillTabs button:hover {
	background-color: var(--theme-color-one-trans);
}

.skillTabs button.active {
	background-color: var(--theme-color-one-trans);
}

#projectPanel {
	padding: 3rem;
	color: var(--base-color-two);
	display: grid;
	grid-template-rows: 0.5fr 4fr;
}

.projectSlideshowContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

.myProjects {
	display: none;
	grid-template-rows: 4fr 0.7fr 1.5fr;
	justify-items: center;
	align-items: center;
	animation-name: fadeUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.myProjects a {
	text-decoration: none;
	color: var(--theme-color-one); 
}

.prev, .next {
	cursor: pointer;
	color: var(--base-color-two);
	font-weight: bold;
	font-size: 3.5rem;
	transition: 0.3s ease;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.prev:hover, .next:hover {
	color: var(--theme-color-one);
}

.projectTitle {
	color: var(--theme-color-one);
	text-align: center;
	font-size: 3.5rem;
}

.projectDesc {
	color: var(--base-color-two);
	text-align: center;
	font-size: 2.3rem;
}

.active {
	background-color: var(--theme-color-two);
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--base-color-two);
	font-size: 1.8rem;
}

