
/* Potential Color Scheme

	3C3A40 - Jet
	B7FDFE - Celeste
	EA9010 - Carrot Orange
	E3D3E4 - Languid Lavender
	508991 - Steel Teal
	3BC14A - Dark Pastel Green
	FFFD82 - Canary
	16023D - Russian Violet
*/


* {
	margin: 0;
	padding: 0;
	color: #FFF;
}

body {
	background-image: url('assets/circuit-board.svg');
	background-color: #3C3A40;
}

#mainCont {
	background-color: rgba(60, 58, 64, 0.9);
	display: grid;
	grid-template-rows: 1fr 4fr 4fr 4fr 4fr 0.5fr;
	box-shadow: 0px 0px 4px 3px #000;
}	

#navBar {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid #FFF;
	padding: 20px;
	gap: 50px;
}

#logoCont {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navLinkCont {
	flex: 3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 3.5rem;
	gap: 50px;
}

#navLinkCont a {
	text-decoration: none;
	text-align: center;
}

#profilePanel {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 10px;
}

#profilePicCont {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#profilePicCont img {
	border-radius: 40px;
	box-shadow: -1px 10px 20px 2px #000;
}

#headlineNameCont {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#headlineNameCont hr {
	width: 75%;
}

#nameCont {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#nameCont h1 {
	font-size: 5rem;
}

#headlineCont {
	flex: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

#headlineCont p {
	font-size: 40px;
}


#aboutPanel {
}	

#skillsPanel {
	border-bottom: 2px dashed magenta;
}

#projectPanel {
	border-bottom: 1px dotted green;
}

#footer {
}

