
/* Color Scheme

	#00000 - Black
	#FFFFF - White
	#11BCFA - Capri
	#717171 - Sonic Silver
	#3C3A40 - Jet
*/

:root {
	--base-color-one: #000000;
	--base-color-two: #FFFFFF;

	--dark-theme-color-one: #11BCFA;
	--dark-theme-color-two: #717171;
	--dark-theme-color-three: #3C3A40;

	--light-theme-color-one: #EE4305;
	--light-theme-color-two: #8E8E8E;
	--light-theme-color-three: #C3C5BF;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url('assets/circuit-board.svg');
	background-color: #3C3A40;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.6fr 1fr 0.6fr 1fr 0.05fr;
	padding: 2rem;
	gap: 1.5rem;
}

body > div {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 2px #000;
	border-radius: 5px;
}	

#profilePanel {
	display: grid;
	grid-template-rows: 1fr 6fr 0.5fr;
	color: #FFF;
	padding-top: 30px;
}

#headlineNameCont {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

#headlineNameCont hr {
	width: 575px;
	animation-name: hrLineGrow;
	animation-duration: 1.5s;
}

@keyframes hrLineGrow {
	from {
		width: 0px;
	}

	to {
		width: 575px;
	}
}

#headlineCont {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40px;
}

#headlineCont p {
	font-size: 2.7rem;
	opacity: 0;
}

#headlineCont p:nth-child(1) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

#headlineCont p:nth-child(2) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
}

#headlineCont p:nth-child(3) {
	animation-name: fadeIn;
	animation-duration: 2.5s;
	animation-delay: 2.1s;
	animation-fill-mode: forwards;
}

#nameCont {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#nameCont h1 {
	font-size: 6rem;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#navBar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	font-size: 320%;
}

#navBar a {
	text-decoration: none;
	text-align: center;
	color: #11BCFA;
}

#secondaryLinksCont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 15px;
}

#aboutPanel {
	display: grid;
	grid-template-rows: 1fr 8fr 0.5fr;
	justify-content: center;
	align-items: center;
	padding: 3rem 3rem 3rem 3rem;
	color: #FFF;
}

.sectionLabel {
	font-size: 4.5rem;
	align-self: flex-start;
}

#aboutContent {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

#aboutContent img {
	border: 2px solid white;
	border-radius: 10px;
}	

#aboutContent p {
	font-size: 1.3rem;
	text-align: center;
}

#aboutContent a {
	text-decoration: none;
	border: 1px solid #FFF;
	font-size: 3rem;
	padding: 10px 32px;
	background-color: rgba(60, 58, 64, 0.5);
	color: #11BCFA;
	border-radius: 10px;
}

.skillContent {
	flex-flow: row wrap;
	justify-content: space-around;
	overflow-y: auto;
	gap: 40px;
	padding: 60px;
}

.skillBox {
	display: grid;
	grid-template-rows: 3fr 1fr;
	justify-items: center;
	align-items: center;
	height: 250px;
	width: 250px;
	font-size: 1.8rem;;
}

#skillsPanel {
	padding: 3rem;
	display: grid;
	grid-template-rows: 0.4fr 25px 3fr;
	gap: 30px;
	color: #FFF;
}

/* skill tabs */
.skillTabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

/* skill tab buttons */
.skillTabs button {
	background-color: rgba(60, 58, 64, 0.5);
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 1.7rem;
	border: 2px solid #FFF;
	border-radius: 10px;
	color: #FFF;
}

.skillTabs button:hover {
	background-color: rgba(17, 188, 250, 0.5);
}

.skillTabs button.active {
	background-color: rgba(17, 188, 250, 0.5);
}

#projectPanel {
	padding: 3rem;
	color: #FFF;
	display: grid;
	grid-template-rows: 0.5fr 4fr;
}

.projectSlideshowContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

.myProjects {
	display: none;
	grid-template-rows: 4fr 0.7fr 1.5fr;
	justify-items: center;
	align-items: center;
}

.myProjects a {
	text-decoration: none;
	color: #11BCFA; 
}

.prev, .next {
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 3.5rem;
	transition: 0.6s ease;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projectTitle {
	color: #FFF;
	text-align: center;
	font-size: 2.5rem;
}

.projectDesc {
	color: #FFF;
	text-align: center;
	font-size: 1.8rem;
}

.active {
	background-color: #717171;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 1.2rem;
}

